.footer {
    background-color: #fff;
    color: #000;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.social_list svg {
    font-size: 1.5em;
}

.copy_hight {
    margin-top: 2em;
}

.copy_hight span {
    color: #ffbb33;
    font-weight: bold;
}